*{
    margin: 0;
    padding: 0;
}
:root {
  --background-color: #141414;
  --text-color: #fff;
}/*Detta är variabeln standard färgläggningen för sidan*/


[data-theme="dark"] {
  --background-color: #fff;
  --text-color: #141414;
}/*Detta är variabeln för "dark mode" för hemsidan*/

#theme-switcher{
  float: right;
  margin-top: 5px;
  margin-right: 25px;
  display:block;
  color: var(--text-color);
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size:x-large;
  font-family: Helvetica;
  border: 3px solid var(--text-color);
  border-radius: 4px;
  transition: background-color 300ms ease-in 0ms;/*detta skapar en animation av effekten när man håller på knapparna*/
  background-color: var(--background-color);
}

header img{
    padding-left: 820px;
    padding-top: 30px;
    opacity: 0.99;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 734.6335px;
  overflow: hidden;
  text-align: center;
}

li {
  float: left;
  margin-right: 10px;
  margin-top: 40px;
}

li a {
  display:block;
  color: var(--text-color);
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size:x-large;
  font-family: Helvetica;
  border: 3px solid var(--text-color);
  border-radius: 4px;
  transition: background-color 300ms ease-in 0ms;/*detta skapar en animation av effekten när man håller på knapparna*/
}

#theme-switcher:hover, li a:hover {
  background-color: #404040; /* detta ändrar färgen på knappen när man håller musen över den*/
  border-radius: 4px;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

div.a img{
  padding-left: 1650px;
}

div.a p{
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 25%;
  font-size: x-large;
  font-family: Helvetica;
  color: var(--text-color);
  text-align: left;
}

div.column{
  float: left;
  width: 31%;
  padding: 15px;
  text-align: center;
}
div.column{
  font-family: Helvetica; /*ändra fonten*/
  color: var(--text-color);
}
div.column p{
  font-size: large;
}
div.column img{
  border-radius: 16px;/*rundade kanter på de tre bilderna*/
  margin-top: 20px;
}

div.row{
  margin-top: 200px;
}
div.row:after{
  content:"";
  display: table;
  clear: both;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
  
}
footer{
  text-align: center;
  font-family: Helvetica;
  margin-top: 50px;
  margin-bottom: 30px;
  color: var(--text-color);
}
hr{
  border: 3px solid var(--text-color);
  border-radius: 4px;
  margin: 10px;

}
hr.uppe{
  margin-top: 20px;
}
