main{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-upper{
    width: 100%;
    height: 42%;
}

.container-upper p{
    color: #53564d;
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: 'Apercu Pro', sans-serif;
    
}
.logo-text{
    color: #af3336;
    font-size: 75px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 4px;
}
.bread-text-left-points{
    color: #af3336;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Apercu Pro', sans-serif;
}
.bread-text-left{
    position: absolute;
    top: 15%;
    left: 7%;
}
.bread-text-right{
    position: absolute;
    left: 67%;
    top: 30%;
    right: 0;
}
.container-center{
    width: 100vw;
    height: 11%;
    
}
.container-bottom{
    width: 95vw;
    height: 44%;
}
.parent{
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
}
    
.gridDiv1{
    grid-area: 1 / 4 / 3 / 5;
}
.gridDiv2{
    grid-area: 1 / 3 / 3 / 4;
}
.gridDiv3{
    grid-area: 1 / 2 / 3 / 3;
}
.gridDiv4{
    grid-area: 1 / 1 / 3 / 2;
}
.grid-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.map-text{
    color: #363930;
    font-size: 37px;
    font-weight: 800;
    font-family: 'Apercu Pro', sans-serif;
    letter-spacing: 2px;
}
.grid-img{
    transition: all 0.5s ease;
    -webkit-transition: all .5s ease;
    box-shadow: 0 20px 60px 0 rgba(0,0,0,.2);
    border-radius: 3.4%;
}
.grid-img:hover{
    box-shadow: 0 20px 60px 0 rgba(0,0,0,.4);
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-1%);
}
