main{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}
.container-upper{
    width: 100%;
    height: 100%;
}
.scroll-down-container{
    display: none;
}

.container-upper p{
    color: #53564d;
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: 'Apercu Pro', sans-serif;
    
}
.logo-text{
    color: #af3336;
    font-size: 75px;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 4px;
}
.bread-text-left-points{
    color: #af3336;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Apercu Pro', sans-serif;
}
#bread-text-left{
    width: 49%;
    margin-top: 2%;
    margin-left: 7%;
}
@keyframes bread-text-left-animation{
    0%{
        opacity: 0;
        margin-left: -48%;
    }
    70%{
        opacity: 1;
    }
    100%{
        margin-left: 7%;
    }
}
#bread-text-right{
    width: 33%;
    margin-left: 100%;
    margin-top: 2%;
}
@keyframes bread-text-right-animation{
    0%{
        opacity: 0;
        margin-left: 100%;
    }
    50%{
        opacity: 1;
    }
    100%{
        margin-left: 67%;
    }
}
@keyframes bread-text-right-animation-small{
    0%{
        opacity: 0;
        margin-left: 0%;
    }
    50%{
        opacity: 1;
    }
    100%{
        margin-left: -62%;
    }   
}

.container-center{
    width: 100vw;
    height: 90px;
}

.container-bottom{
    width: 100vw;
    height: 100%;
}
#parent{
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -10;

}
.gridDiv1{
    grid-area: 1 / 4 / 3 / 5;
}
.gridDiv2{
    grid-area: 1 / 3 / 3 / 4;
}
.gridDiv3{
    grid-area: 1 / 2 / 3 / 3;
}
.gridDiv4{
    grid-area: 1 / 1 / 3 / 2;
}
.grid-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.grid-link{
    z-index: -10;
}
.map-text{
    color: #363930;
    font-size: 37px;
    font-weight: 800;
    font-family: 'Apercu Pro', sans-serif;
    letter-spacing: 2px;
}
.grid-img{
    transition: all 0.5s ease;
    -webkit-transition: all .5s ease;
    box-shadow: 0 20px 60px 0 rgba(0,0,0,.2);
    border-radius: 3.4%;
}
.grid-img:hover{
    box-shadow: 0 20px 60px 0 rgba(0,0,0,.4);
    -webkit-transform: translate(0,-10px);
    transform: translate(0,-1%);
}
@keyframes maps-animation{
    0%{
        opacity: 0;
        transform: translate(0, 100%);
    }
    100%{
        opacity: 1;
        transform: translate(0, 0);
    }
}

#myVideo{
    opacity: 0;
}
@keyframes map-video-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width: 450px) {
    .scroll-down-container{
        display: flex;
        position: absolute;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: center;
    }
    .scroll-down-arrow{
        display: flex;
        justify-content: center;
        position: relative;
        height: 24px;
    }
    .scroll-down-arrow svg{
        position: absolute;
        transition: bottom  0.5s ease;
        animation: scroll-down-arrow-annimation 2s ease infinite;
        bottom: 0;
    }
    @keyframes scroll-down-arrow-annimation{
        0%{
            bottom: 0;
        }
        50%{bottom: 5px;
        }
        100%{
            bottom: 0;
        }
    }
    .scroll-down-container p{
        font-size: 20px;
        font-weight: 600;
        color: #363930;
        font-family: 'Apercu Pro', sans-serif;
        letter-spacing: 2px;
    }
    main{
        overflow: visible;
    }
    .container-upper{
        display: grid;
        height: 100vh;
        grid-template-columns: 50% 50%;
        grid-template-rows: 45% 50%;
    }
    #bread-text-right{
        grid-area: 2 / 2 / 2 / 2;
        margin-left: 100%;
        width: 100%;
        margin-top: 20%;
    }
    .container-upper p{
        font-size: 17vw;
    }
    .logo-text{
        font-size: 20vw;
    }
    .bread-text-left-points{
        font-size: 20vw;
    }
    .map-text{
        font-size: 25px;
    }
    #parent{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .gridDiv1{
        grid-area: 1 / 1 / 1 / 1;
    }
    .gridDiv2{
        grid-area: 2 / 1 / 2 / 1;
    }
    .gridDiv3{
        grid-area: 3 / 1 / 3 / 1;
    }
    .gridDiv4{
        grid-area: 4 / 1 / 4 / 1;
    }
    .container-bottom{
        margin-top: 5%;
    }
    #myVideo{
        width: 350%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1400px) {
    main{
        overflow: visible;
    }
    .scroll-down-container{
        display: none;
    }
    .container-upper{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
    }
    #bread-text-right{
        grid-area: 2 / 2 / 2 / 2;
        margin-left: 100%;
        width: 100%;
        margin-top: 25%;
    }
    .container-upper p{
        font-size: 13vw;
    }
    .logo-text{
        font-size: 16vw;
    }
    .bread-text-left-points{
        font-size: 16vw;
    }
    .map-text{
        font-size: 20px;
    }
    #parent{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .gridDiv1{
        grid-area: 1 / 1 / 1 / 1;
    }
    .gridDiv2{
        grid-area: 1 / 2 / 1 / 2;
    }
    .gridDiv3{
        grid-area: 2 / 1 / 2 / 1;
    }
    .gridDiv4{
        grid-area: 2 / 2 / 2 / 2;
    }
}
