*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: black;
    -webkit-tap-highlight-color: transparent;
}
body, html{
	-ms-overflow-style: none;
	scrollbar-width: none;
    width: 100vw;
    height: 100%;
    background-color: #C7CBC0;
    overflow-x: hidden;
    font-size: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    width: 100%;
    z-index: 2;
    height: 80px;
}
#menu{
    justify-self: right;
    margin-right: 2%;
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 100;
}
.ham{
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 101;
}
.hamRotate.active{
    transform: rotate(45deg);
}
.hamRotate180.active{
    transform: rotate(80deg);
}
.line{
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:7;
    stroke-linecap:round;
}
.ham4 .top{
    stroke-dasharray: 40 121;
}
.ham4 .bottom{
    stroke-dasharray: 40 121;
}
.ham4.active .top{
    stroke-dashoffset: -68px;
}
.ham4.active .bottom{
    stroke-dashoffset: -68px;
}

.menu-hide {
    width: 345px;
    right: -345px;
    height: 100vh;
    position: fixed;
    z-index: 5;
    top: 0px;
    transition: all 0.3s ease-in-out;
    cursor: default;
}

.menu-hide ul{
    margin-top: 80px;
}
.menu-hide ul li{
    height: 70px;
    list-style-type: none;
    text-align: center;
    line-height: 70px;
    transition: all 0.5s ease;
}
.menu-hide ul li:hover{
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}
.menu-hide ul li a{
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.menu-hide ul li a p{
    color: white;
    font-weight: 800;
    font-size: 27px;
    font-family: 'Apercu Pro', sans-serif;
}
.menu-hide.show {
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}
#logo{
    margin-top: 20px;
    width: 100%;
    display: flex;
    margin-left: 5%;
}
#logo1{
    width: 300px;
    height: auto;
    opacity: 1;
    transition: opacity ease-in-out 0.2s;
}
@media screen and (max-width: 600px){
    .menu-hide{
        width: 100%;
        right: -100%;
        backdrop-filter: blur(2px);
    }
    #logo1{
        width: 100%;
        height: auto;
    }
    nav{
        grid-template-columns: 60% 40%;
        grid-template-rows: 80px;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        width: 100%;
        z-index: 2;
        height: 80px;
    }

}